
        {% extends "base.html" %}

        {% block content %}
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <article class="p-4">
                        <img src="{{ instance.image }}" alt="">
                        <header class="mb-4 px-4">
                            <h1 class="text-start pt-5">{{ instance.title }}</h1>
                            <p class="text-muted text-start pb-5">By {{ instance.author }} | Published on {{ instance.created_at|date:"F d, Y" }}</p>
                        </header>
                        <article>
                            <section class="text-body-emphasis text-start" style="font-size: 1.25rem; line-height: 1.8; padding: 2rem; max-width: 800px; margin: auto;">
                                <p>
                                    {{ instance.content|safe }}
                                </p>
                            </section>
                        </article>
                    </article>
                </div>
            </div>
        </div>
        {% endblock %}
        